<div class="container">

<div class="jumbotron text-center">
    <h1>Welcome to Gold Valley</h1>
    <h3>The hub where entrepreneurs and investors meet developers.</h3>
    <h6>THE FIRST ONLINE STARTUP COMMUNITY</h6>
</div>


<p>
    Africas Silicon Valley. Get your idea out in the open.
    Be seen by entrepreneurs and investors.
</p>
</div>